{% extends "layout.html" %}
{% block title %}О проекте - {% endblock %}
{% block about %}class="active"{% endblock %}
{% block content %}
<div class="jumbotron">
      <div class="container">
        <h1>О проекте</h1>
        <p>Цель данного проекта - облегчить управление денежными потоками любого мероприятия, будь то выпуской,
        вечеринка или поездка с компанией на природу.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="{{ url_for('new_event') }}">Создать мероприятие »</a></p>
      </div>
</div>
<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Добавление и удаление участников</h2>
          <p>Несколько варианотов добаления и удаление участников с автоматическим пересчетом бюджета</p>
        </div>
        <div class="col-md-4">
          <h2>Категории затрат</h2>
          <p>Направление средств на приоритетные задачи</p>
       </div>
        <div class="col-md-4">
          <h2>Общий доступ</h2>
          <p>Демонстрация или же совместная работа над контролем средств мероприятия</p>
        </div>
      </div>
</div>
{% endblock %}