{% extends "layout.html" %}
{% block title %}Главная - {% endblock %}
{% block nav %}class="active"{% endblock %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h2>Добро пожаловать в Event manager</h2>
        <p>Тут вы сможете с легкостью управлять бюджетом любого мероприятия</p>
        {% if session.username %}
        <p align="center"><a class="btn btn-primary btn-lg" href="{{ url_for('new_event') }}" role="button">Создать мероприятие</a></p>
        {% else %}
        <p align="center"><a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Войти</a></p>
        {% endif %}
    </div>
</div>
{% if session.username %}
<div class="container">
    {% if events_list[0] %}
    <h2 align="center">Список ваших мероприятий</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>№</th>
            <th>Имя мероприятия</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for item in events_list %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="/event_menu/{{ item._id }}">{{ item.event_name }}</a></td>
                <td><button type="button" onclick="delete_event('{{ item._id }}')" class="btn btn-danger btn-xs">Удалить</button></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% else %}
    <h2 align="center">У вас нет созданных мероприятий</h2>
    {% endif %}
</div>
{% endif %}
{% assets "js_index" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}