{% extends "layout.html" %}
{% block title %}Регистрация - {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method=POST action="{{ url_for('register') }}">
                <div class="form-group">
                    <label for="exampleInputEmail1">Введите логин</label>
                    <input type="text" class="form-control" name="username" placeholder="Логин (латинские буквы и цифры)"
                    value="{% if prev_values is defined %}{{ prev_values.username }}{% endif %}"
                    required minlength="4" maxlength="12" pattern="^[a-zA-Z0-9]+$">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Введите пароль</label>
                    <input type="password" class="form-control" name="pass"
                           placeholder="Введите пароль (латинские буквы и цифры)" id="password1"
                    required minlength="6" maxlength="20" pattern="^[a-zA-Z0-9]+$">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Подтвердите пароль</label>
                    <input type="password" class="form-control" id="password2"
                           placeholder="Подтвердите пароль"
                    required minlength="6" maxlength="20" pattern="^[a-zA-Z0-9]+$">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Регистрация</button>
            </form>
            <br>
            <div>
                {% if error_list %}
                <ul>
                    {% for error in error_list %}
                    <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% assets "js_reg" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}